.wrapper {
  background-color: hsl(219.7, 98.9%, 63.1%);
  width: 100%;
  min-height: 100vh;
}
.donut {
  position: relative;
  display: flex;
  width: 100%;
  height: 50vh;
  list-style: none;
  margin: 70px auto;
}
.circle {
  position: absolute;
  left: 50%;
  top: 50%;
  border: 2px solid white;
  background: radial-gradient(
    circle,
    rgba(126, 164, 251, 1) 0%,
    rgba(42, 0, 255, 1) 100%
  );
  color: white;
  border-radius: 50%;
  // height: 16px;
  // width: 16px;
  padding: 10px;
  text-align: center;
}
